.App {
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Change color and opacity */
  background-image: url(./logo.webp);
  background-repeat: no-repeat;
  background-position: right center;
  width: 100%;
}

.content {
  position: relative; /* Keep content on top of the overlay */
  z-index: 1; /* Ensure content is above the overlay */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main_container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: border-box;
}

.title {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 40px;
  color: #ffffff;
  position: relative;
}

.container_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}


.heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  color: #ffffff;
}

.total {
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
}

.button_container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.buttons {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #6a6a6a;
  border-radius: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #000000;
  cursor: pointer;
}

.buttons:hover {
  background-color: #e2e2e2;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.table_head {
  background-color: #000000;
  color: #fff;
}

th {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding: 15px 20px;
  box-sizing: border-box;
  min-width: 220px;
}

.tbody_container {
  overflow-y: auto;
  max-height: 700px;
  overflow-x: hidden;
}

.table_data {
  width: 100%;
  overflow: auto;
}

.body_row .details {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.body_row td {
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  min-width: 220px;
  /* border-bottom: 1px solid #6a6a6a; */
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.load_more {
  text-align: right;
  margin: 15px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right_side {
  display: flex;
  gap: 20px;
  align-items: center;
}

.right_side .buttons {
  position: relative;
}

.right_side .search_bar {
  position: relative;
}

.right_side .search_bar input {
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  border: 0;
}

.search_bar input:focus-visible {
  outline: 0;
}